
TOKEN_NAME="MyToken"
TOKEN_SYMBOL="MTK"

# Using standard 18 decimal places, issue 1 million tokens
TOKEN_DECIMALS=18
INITIAL_SUPPLY=1000000
MAX_SUPPLY=100000000
DAILY_MINT_LIMIT=1000000

# Using 6 decimal places (similar to USDC/USDT), and issue 5 million tokens
# TOKEN_DECIMALS=6
# INITIAL_SUPPLY=5000000
# MAX_SUPPLY=1000000000
# DAILY_MINT_LIMIT=5000000

# The private key of the token owner
PRIVATE_KEY=
